.cct_portal
{
	background-image:url('../images/cct_portal_btn.png');
	background-repeat:no-repeat;
	height:76px;
	width:132px;
	display:block;
	border:none;
	background-color:transparent;
}

.cct_portal:hover
{
	background-image:url('../images/cct_portal_btn_hover.png');
	cursor:pointer;
}

.tpv_portal
{
	background-image:url('../images/tpv_portal_btn.png');
	background-repeat:no-repeat;
	height:76px;
	width:132px;
	display:block;
	border:none;
	background-color:transparent;
}

.tpv_portal:hover
{
	background-image:url('../images/tpv_portal_btn_hover.png');
	cursor:pointer;
}

.admin_portal
{
	background-image:url('../images/admin_portal_btn.png');
	background-repeat:no-repeat;
	height:76px;
	width:132px;
	display:block;
	border:none;
	background-color:transparent;
}

.admin_portal:hover
{
	background-image:url('../images/admin_portal_btn_hover.png');
	cursor:pointer;
}

.sales_portal
{
	background-image:url('../images/sales_portal_btn.png');
	background-repeat:no-repeat;
	height:76px;
	width:132px;
	display:block;
	border:none;
	background-color:transparent;
}

.sales_portal:hover
{
	background-image:url('../images/sales_portal_btn_hover.png');
	cursor:pointer;
}

.cs_portal
{
	background-image:url('../images/cs_portal_btn.png');
	background-repeat:no-repeat;
	height:76px;
	width:132px;
	display:block;
	border:none;
	background-color:transparent;
}

.cs_portal:hover
{
	background-image:url('../images/cs_portal_btn_hover.png');
	cursor:pointer;
}

.self_portal
{
	background-image:url('../images/self_portal_btn.png');
	background-repeat:no-repeat;
	height:76px;
	width:132px;
	display:block;
	border:none;
	background-color:transparent;
}

.self_portal:hover
{
	background-image:url('../images/self_portal_btn_hover.png');
	cursor:pointer;
}

.qa_portal
{
	background-image:url('../images/qa_portal_btn.png');
	background-repeat:no-repeat;
	height:76px;
	width:132px;
	display:block;
	border:none;
	background-color:transparent;
}

.qa_portal:hover
{
	background-image:url('../images/qa_portal_btn_hover.png');
	cursor:pointer;
}

.operations_portal
{
	background-image:url('../images/operations_portal_btn.png');
	background-repeat:no-repeat;
	height:76px;
	width:132px;
	display:block;
	border:none;
	background-color:transparent;
}

.operations_portal:hover
{
	background-image:url('../images/operations_portal_btn_hover.png');
	cursor:pointer;
}

.user_manual
{
	background-image:url('../images/user_manual_btn.png');
	background-repeat:no-repeat;
	height:76px;
	width:132px;
	display:block;
	border:none;
	background-color:transparent;
}

.user_manual:hover
{
	background-image:url('../images/user_manual_btn_hover.png');
	cursor:pointer;
}

#vericon_portals{
width:753px;
height:162px;
background-image:url('../images/vericon_portals_bg.png');
background-repeat:no-repeat;
margin-left:auto;
margin-right:auto;
margin-top:10px;
}