<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title>VeriCon :: Mail</title>
<meta name="Robots" content="noindex,nofollow" />
<roundcube:include file="/includes/links.html" />
</head>
<body>

<div id="login-form">
<div class="box-inner">
<roundcube:object name="logo" src="/images/roundcube_logo.png" id="logo" border="0" />

<form name="form" action="./" method="post">
<table><tbody><tr><td class="title"><label for="rcmloginuser">Username</label>
</td>
<td class="input"><input type="text" autocomplete="off" autocapitalize="off" disabled="disabled" size="40" id="rcmloginuser" name="_user"></td>
</tr>
<tr><td class="title"><label for="rcmloginpwd">Password</label>
</td>
<td class="input"><input type="password" autocomplete="off" autocapitalize="off" disabled="disabled" size="40" id="rcmloginpwd" name="_pass"></td>
</tr>
</tbody>
</table>

<p style="text-align:center; color:#CECECE; text-shadow:0 1px 1px black"><b>Direct login has been disabled</b></p>
<p style="text-align:center; color:#CECECE; text-shadow:0 1px 1px black"><a href="../mail/login/"><b>Click here to login again</b></a></p>

</form>
</div>

<div class="box-bottom">
	<roundcube:object name="message" id="message" />
</div>

<div id="bottomline">
	<roundcube:var name="config:product_name"> <roundcube:object name="version" condition="config:display_version" />
	<roundcube:if condition="config:support_url" />
		&nbsp;&#9679;&nbsp; <a href="<roundcube:var name='config:support_url' />" target="_blank" class="support-link"><roundcube:label name="support" /></a>
	<roundcube:endif />
	<roundcube:container name="loginfooter" id="bottomline" />
</div>
</div>

<roundcube:include file="/includes/footer.html" />

<roundcube:object name="preloader" images="
  /images/ajaxloader.gif
  /images/buttons.png
  /images/addcontact.png
  /images/filetypes.png
  /images/listicons.png
  /images/messages.png
  /images/quota.png
  /images/selector.png
  /images/splitter.png
  /images/watermark.jpg
" />

</body>
</html>
